<div class="jumbotron">
    <h1>"Lokomotiv"</h1>
    <p class="lead">Справочная система контроля работы и ремонта тепловозов</p>
    <p><a href="#" class="btn btn-primary btn-lg">Отчеты &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Начальник цеха</h2>
        <p>АРМ "Начальник цеха" - Контроль работы всех подразделений, задействованных в процессе ремонта, подготовки и эксплуатации тепловозов.</p>
        <p><a class="btn btn-primary" href='@Url.Action("Foreman", "Home", new { Area = "" })'>Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Начальник ДЕПО</h2>
        <p>АРМ "Начальник ДЕПО" - Контроль работы ДЕПО.</p>
        <p><a class="btn btn-primary" href='@Url.Action("HeadDEPO", "Home", new { Area = "" })'>Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Начальник смены</h2>
        <p>АРМ "Начальник смены" - Контроль проведения ремонтных работ.</p>
        <p><a class="btn btn-primary" href='@Url.Action("ShiftSupervisor", "Home", new { Area = "" })'>Перейти &raquo;</a></p>
    </div>
</div>
