USE [loko_nw]
GO
/****** Object:  Table [dbo].[RefDamage]    Script Date: 18.12.2020 16:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefDamage](
	[idDamage] [int] NOT NULL,
	[Damage] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RefDamage] PRIMARY KEY CLUSTERED 
(
	[idDamage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RefDamage] ([idDamage], [Damage]) VALUES (1, N'Заклинил клапан компрессора')
INSERT [dbo].[RefDamage] ([idDamage], [Damage]) VALUES (2, N'Не работает кран машиниста')
INSERT [dbo].[RefDamage] ([idDamage], [Damage]) VALUES (3, N'заглушен ТЦ')
GO
