USE [loko_nw]
GO
/****** Object:  Table [dbo].[RefNumLoko]    Script Date: 29.12.2020 22:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefNumLoko](
	[idNumLoko] [int] NOT NULL,
	[NumLoko] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_RefNumLoko] PRIMARY KEY CLUSTERED 
(
	[idNumLoko] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[RefNumLoko] ([idNumLoko], [NumLoko]) VALUES (1, N'ТЭМ2 1295')
INSERT [dbo].[RefNumLoko] ([idNumLoko], [NumLoko]) VALUES (2, N'ТЭМ2 1332')
INSERT [dbo].[RefNumLoko] ([idNumLoko], [NumLoko]) VALUES (3, N'ТЭМ2 1820')
GO
