USE [loko_nw]
GO
/****** Object:  Table [dbo].[RefOperation]    Script Date: 18.12.2020 16:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefOperation](
	[idOperation] [int] NOT NULL,
	[Operation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RefOperation] PRIMARY KEY CLUSTERED 
(
	[idOperation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RefOperation] ([idOperation], [Operation]) VALUES (1, N'Демонтаж ')
INSERT [dbo].[RefOperation] ([idOperation], [Operation]) VALUES (2, N'Разборка узла')
INSERT [dbo].[RefOperation] ([idOperation], [Operation]) VALUES (3, N'Очистка ')
GO
