USE [loko_nw]
GO
/****** Object:  Table [dbo].[LnkUDO]    Script Date: 18.12.2020 16:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LnkUDO](
	[idLinkUDO] [int] NOT NULL,
	[IDUnit] [int] NOT NULL,
	[IDDamage] [int] NOT NULL,
	[IDOperation] [int] NOT NULL,
	[HumanHour] [real] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_LnkUDO] PRIMARY KEY CLUSTERED 
(
	[idLinkUDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[LnkUDO] ([idLinkUDO], [IDUnit], [IDDamage], [IDOperation], [HumanHour], [Note]) VALUES (1, 37, 1, 1, 2, NULL)
INSERT [dbo].[LnkUDO] ([idLinkUDO], [IDUnit], [IDDamage], [IDOperation], [HumanHour], [Note]) VALUES (2, 37, 1, 3, 0.5, NULL)
INSERT [dbo].[LnkUDO] ([idLinkUDO], [IDUnit], [IDDamage], [IDOperation], [HumanHour], [Note]) VALUES (3, 37, 1, 4, 0.5, NULL)
GO
ALTER TABLE [dbo].[LnkUDO]  WITH CHECK ADD  CONSTRAINT [FK_LnkUDO_RefDamage] FOREIGN KEY([IDDamage])
REFERENCES [dbo].[RefDamage] ([idDamage])
GO
ALTER TABLE [dbo].[LnkUDO] CHECK CONSTRAINT [FK_LnkUDO_RefDamage]
GO
ALTER TABLE [dbo].[LnkUDO]  WITH CHECK ADD  CONSTRAINT [FK_LnkUDO_RefOperation] FOREIGN KEY([IDOperation])
REFERENCES [dbo].[RefOperation] ([idOperation])
GO
ALTER TABLE [dbo].[LnkUDO] CHECK CONSTRAINT [FK_LnkUDO_RefOperation]
GO
ALTER TABLE [dbo].[LnkUDO]  WITH CHECK ADD  CONSTRAINT [FK_LnkUDO_RefUnit] FOREIGN KEY([IDUnit])
REFERENCES [dbo].[RefUnit] ([idUnit])
GO
ALTER TABLE [dbo].[LnkUDO] CHECK CONSTRAINT [FK_LnkUDO_RefUnit]
GO
